.header {
  font-family: $font-family-heading;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  @include media-breakpoint-up(md) {
    padding: 10px 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
  .main-menu {
    height: inherit;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    ul {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        height: inherit;
        margin: 0;
        padding: 0;
        list-style: none;
        &:last-of-type {
          margin: 0;
        }
        a {
          height: inherit;
          display: inline-block;
          padding: 0;
          font-size: 0.85em;
          font-weight: 400;
          text-transform: uppercase;
          color: $primary;
          padding: 10px 5px 10px 14px;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      li.active {
        a {
          font-weight: 700;
        }
      }
    }
  }
  .logos {
    a {
      vertical-align: bottom;
      display: block;
      opacity: 1;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
      @include media-breakpoint-up(md) {
        padding: 0;
      }
      &:hover {
        opacity: 0.7;
      }
      img {
        vertical-align: bottom;
      }
    }
    .logo {
      display: none;
      margin-top: -8px;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .logo-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .logo-invert {
      margin-top: -8px;
      display: none;
    }

    .logo-invert-mobile {
      display: none;
    }
  }
  .menu-trigger {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    height: 50px;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .hamburger {
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    background: transparent;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: $primary;
    font-size: 0;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: currentColor;
      transform: translate(-50%, -50%);
      transition: transform 0.25s ease-in-out;
    }
    &:hover {
      // opacity: 0.7;
    }
    &.is-active {
      border-color: transparent;
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
  .hamburger {
    color: white;
  }
  .logos {
    .logo {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    .logo-invert-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
  .main-menu {
    > ul {
      > li {
        > a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
      > li.active {
        > a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-scrolled {
  background: #fff;
  transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0 1px 6px 0 rgba(36, 50, 66, 0.15);
  .hamburger {
    color: $primary;
  }
  .logos {
    .logo {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    .logo-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
  .main-menu {
    > ul {
      > li {
        > a {
          color: $primary;
          &:hover {
            color: $primary;
          }
        }
      }
      > li.active {
        > a {
          color: $primary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.header-invert {
  .hamburger {
    color: white;
  }
  .logos {
    .logo {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    .logo-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
  .main-menu {
    > ul {
      > li {
        > a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
      > li.active {
        > a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
