.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
  h1 {
    font-family: $font-family-heading;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    width: 70%;
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 70%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 50%;
    }
  }
  p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.5;
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.intro-small {
  padding-top: 80px;
  padding-bottom: 60px;
}

.intro-big {
  padding-top: 180px;
  padding-bottom: 140px;
}
