{{ if .heading }}
<div class="strip strip-secondary" style='background-color: {{ .bg }};'>
    <div class="container pt-6 pb-6">
        <div class="row justify-content-between">
        <div class="col">
            <p class="text-white d-block cta-big-text">{{ .heading }}</p>
            <p class="text-white d-block cta-sub-text">{{ .subheading }}</p>
        <a href="{{ .button_url | relURL }}" class="button button-white mt-1" style="color: {{ .text_color }};">{{ .button_text }}</a>
        </div>
        </div>
    </div>
</div>
{{ end }}