<meta name="robots" content="all">
<link rel="canonical" href="{{ if .Params.metaCanonical }}{{ .Params.metaCanonical }}{{end}}" />
<meta name="description" content="{{ if .Params.metaDescription }}{{ .Params.metaDescription }} {{ else if .Site.Params.homepage_meta_tags.meta_description }}{{ .Site.Params.homepage_meta_tags.meta_description }}{{end}}" />
<meta property="og:title" content="{{ if .Params.metaOgTitle }}{{ .Params.metaOgTitle }}{{ else if .Site.Params.homepage_meta_tags.meta_og_title }}{{ .Site.Params.homepage_meta_tags.meta_og_title }}{{end}}" />
<meta property="og:url" content="{{ if .Params.metaOgUrl }}{{ .Params.metaOgUrl }}{{ else if .Site.Params.homepage_meta_tags.meta_og_url }}{{ .Site.Params.homepage_meta_tags.meta_og_url }}{{end}}" />
<meta property="og:description" content="{{ if .Params.metaOgDescription }}{{ .Params.metaOgDescription }}{{ else if .Site.Params.homepage_meta_tags.meta_og_description }}{{ .Site.Params.homepage_meta_tags.meta_og_description }}{{end}}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:site_name" content="QWEBECO | Agence de Qualité WEB ECO-responsable" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:image" content="{{ if .Params.metaOgImage }}{{ .Params.metaOgImage }}{{ else if .Site.Params.homepage_meta_tags.meta_og_image }}{{ .Site.Params.homepage_meta_tags.meta_og_image }}{{end}}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
<meta name="google-site-verification" content="" />

<script type="application/ld+json"> 
    {
      "@context": "http://www.schema.org",
      "@type": "Organization",
      "name": "QWEBECO | Agence de Qualité WEB ECO-responsable",
      "url": "https://www.qweb.eco",
      "logo": "https://www.qweb.eco/logo_qwebeco.svg",
      "image": "https://www.qweb.eco/image_qwebeco.svg",
      "description": "Qweb.eco est une agence de marketing digital qui vous rend performant sur internet. Vous êtes accompagné de A a Z par des experts passionnés du numérique et vous prenez les bonnes décisions pour développer votre activité commerciale en ligne. ",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "14C Faubourg Reclus",
        "addressLocality": "{{ .Site.Params.Meta.ville }}",
        "addressRegion": "Auvergne Rhône-Alpes",
        "postalCode": "73000",
        "addressCountry": "FRANCE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "5.922007",
        "longitude": "45.568905"
      },
      "openingHours": "Mo, Tu 08:00-18:00",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+33783985948",
        "contactType": "Service client"
      }
    }
     </script>
     
      <script type="application/ld+json"> 
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "QWEBECO| Agence de Qualité WEB ECO-responsable",
      "alternateName": "QWEB.ECO",
      "url": "https://qweb.eco"
    }
     </script>
    